{% extends 'pages/base_site.html' %}
{% block title %} | Cars {% endblock %}
{% block content %}

<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Our Cars</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Cars</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Cars Listing start -->
<div class="cars-listing content-area-5">
    <div class="container">
        <!-- Main title -->
        <div class="main-title text-center">
            <h1>Available <span>Cars</span></h1>
            <p>Browse our latest collection of cars available for purchase.</p>
        </div>
        <div class="row">
            {% for car in cars %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="car-box">
                    <div class="car-thumbnail">
                        <img src="{{ car.image.url }}" class="img-fluid" alt="{{ car.title }}">
                    </div>
                    <div class="car-details">
                        <h5 class="car-title">{{ car.title }}</h5>
                        <p class="car-price">${{ car.price }}</p>
                        <p class="car-info">{{ car.year }} | {{ car.body_style }} | {{ car.state }}</p>
                        <a href="{% url 'car_detail' car.id %}" class="btn btn-md button-theme">View Details</a>
                    </div>
                </div>
            </div>
            {% empty %}
            <p class="text-center w-100">No cars available at the moment.</p>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Cars Listing end -->

{% endblock %}
