{% extends 'pages/base.html' %}
{% block title %} | Search Results {% endblock %}
{% block content %}

<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Search Cars</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'search' %}">Home</a></li>
                <li class="active">Search</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Search Filters start -->
<div class="car-search-filters" style="background-color: red; padding: 20px;">
    <div class="container">
        <form action="{% url 'search' %}" method="GET">
            {% include 'includes/messages.html' %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="row filters" style="background-color: red; padding: 10px; border-radius: 10px;">
                        <!-- First Row -->
                        <div class="col-md-3">
                            <div class="form-group">
                                <select name="car_title" class="form-control" id="brand" style="background-color: white;">
                                    <option value="">Select Brand</option>
                                    {% for car in car_title_search %}
                                    <option value="{{ car }}">{{ car }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <select name="model" class="form-control" id="model" style="background-color: white;">
                                    <option value="">Select Model</option>
                                    {% for model in model_search %}
                                    <option value="{{ model }}">{{ model }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <select name="state" class="form-control" id="state" style="background-color: white;">
                                    <option value="">Select State</option>
                                    {% for state in state_search %}
                                    <option value="{{ state }}">{{ state }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <select name="year" class="form-control" id="year" style="background-color: white;">
                                    <option value="">Select Year</option>
                                    {% for year in year_search %}
                                    <option value="{{ year }}">{{ year }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!-- Second Row -->
                        <div class="col-md-3">
                            <div class="form-group">
                                <select name="body_style" class="form-control" id="type" style="background-color: white;">
                                    <option value="">Select Type of Car</option>
                                    {% for style in body_style_search %}
                                    <option value="{{ style }}">{{ style }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <select name="transmission" class="form-control" id="transmission" style="background-color: white;">
                                    <option value="">Transmission</option>
                                    {% for trans in transmission_search %}
                                    <option value="{{ trans }}">{{ trans }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group w-100">
                                <label for="price">Price (EUR)</label>
                                <input type="range" class="form-range w-100" id="priceSlider" name="price" min="0" max="150000" value="{{ request.GET.price|default:0 }}" oninput="updatePriceLabels(this)">
                                <div class="d-flex justify-content-between w-100" style="font-size: 0.75rem; color: black;">
                                    <span id="minPrice">0 EUR</span>
                                    <span id="maxPrice">150,000 EUR</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex align-items-center">
                            <button type="submit" class="btn btn-md button-theme w-100" style="background-color: black; color: white;">
                                <i class="fa fa-search" aria-hidden="true"></i> Find
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Search Filters end -->

<!-- Search Results Section start -->
{% if cars %}
<div class="search-results" style="margin-top: 100px;">
    <div class="container">
        <h2 class="text-center" style="font-weight: bold;">Here are your <span style="color: red;">Cars</span></h2>
        <div class="row">
            {% for car in cars %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="car-listing">
                    <a href="{% url 'car_detail' car.id %}">
                        <img src="{{ car.car_photo.url }}" alt="{{ car.car_title }}" class="img-fluid">
                    </a>
                    <h3>{{ car.car_title }}</h3>
                    <p>{{ car.year }} - {{ car.model }} - {{ car.price }}€</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% else %}
<div class="container" style="margin-top: 100px; margin-bottom: 100px;">
    <p class="text-center" style="font-weight: bold; color: red; font-size: 2rem;">Sorry, no cars available that match your criterias.</p>
</div>
{% endif %}
<!-- Search Results Section end -->

<script>
function updatePriceLabels(slider) {
    const minPriceLabel = document.getElementById('minPrice');
    const maxPriceLabel = document.getElementById('maxPrice');

    const value = parseInt(slider.value);
    const min = parseInt(slider.min);
    const max = parseInt(slider.max);

    minPriceLabel.innerText = `${min} EUR`;
    maxPriceLabel.innerText = `${value} EUR`;  // Display the selected value on the slider
}
</script>

{% endblock %}